@font-face {
	font-family: "Monoround";
	src: url('/fonts/Monoround.otf');
}

@font-face {
	font-family: "Winter";
	src: url('/fonts/winter-miracle-sans.otf');
}

html, body {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffd081;
	background-image: url('/images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: #bf360c;
	box-sizing: border-box;
	font-family: "Monoround", "Helvetica Neue", sans-serif;
}

a {
	color: #bf360c;
}